/*
Custom Css
*/

.product__cart--btn li a i {
    pointer-events: none;
}

.back__home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px auto;
}

.hinhdaidien {
    width: 238px;
    height: 318px;
    object-fit: cover;
}


/* Css logout */

.product__cart--btn li a i {
    pointer-events: none;
}

.container-dx {
    width: 400px;
    margin: auto;
    padding: 10px;
}

.header-dx {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.account-form {
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    z-index: 1;
}

.gender__btn {
    cursor: pointer;
    margin: 14px 0;
    transform: translateX(0);
    transition: transform 0.5s linear;
}

.gender__btn:hover {
    color: var(--bs-green);
    transform: translateX(10px);
}

.gender__btn:hover a {
    color: var(--bs-green);
}

.gender__btn a {
    pointer-events: none;
    width: 400px;
    margin: auto;
    padding: 10px;
}

.header-dx {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.account-form {
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    z-index: 1;
}


/*---payment*/

.checkout-title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    text-align: left;
    justify-content: left;
}

.form-control {
    margin: 0 -8px;
    display: flex;
    flex-wrap: wrap;
    font-size: 100%;
    margin-bottom: 16px;
}

.payment-content-a {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    text-align: left;
}

.payment-content-left {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    text-align: left;
}

.payment-content {
    font-size: 20px;
    text-align: left;
}

.payment-content-left-method-delivery-item {
    padding-bottom: 0;
    min-height: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.cart-sumary-overview-a {
    font-size: 20px;
}

.payment-content-left-method-payment-item {
    padding-bottom: 0;
    min-height: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    ;
}

.cart-sumary-overview-item {
    display: flex;
    justify-content: space-between;
    box-sizing: content-box
}