body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 20px 0;
}

#searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  margin-right: 20px;
}

#searchInput {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 10px 20px;
}

button {
  border-radius: 20px;
  padding: 10px 20px;
  margin-left: 20px;
}

.search-container input[type="text"] {
  flex: 1;
  border: none;
  padding: 10px;
  border-radius: 20px 0 0 20px;
}

.search-container button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.search-container button:hover {
  background-color: #3e8e41;
}

.search-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.search-buttons button {
  background-color: #f2f2f2;
  color: #333;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
  margin-right: 10px;
  transition: all 0.2s ease-in-out;
}

.search-buttons button:hover {
  background-color: #07070762;
  color: #fff;
}

